{:paths ["src" "resources"]
 :deps {
	camel-snake-kebab		{:mvn/version "0.4.0"}
	cheshire			{:mvn/version "5.10.0"}
	cider/cider-nrepl		{:mvn/version "0.26.0"}
	clojure.java-time		{:mvn/version "0.3.2"}
	com.cemerick/pomegranate	{:mvn/version "1.1.0"}
	com.grammarly/omniconf		{:mvn/version "0.3.2"}
	com.taoensso/timbre		{:mvn/version "5.1.2"}
	hiccup				{:mvn/version "2.0.0-alpha2"}
        io.aviso/pretty			{:mvn/version "0.1.33"}
	io.forward/yaml			{:mvn/version "1.0.9" :exclusions [org.flatland/ordered]}
	io.pedestal/pedestal.interceptor {:mvn/version "0.5.7"}
	io.simplect/compose		{:mvn/version "0.7.27"}
	me.raynes/fs			{:mvn/version "1.4.6"}
	net.cgrand/parsley		{:mvn/version "0.9.3" :exclusions [org.clojure/clojure]}
	net.cgrand/regex		{:mvn/version "1.1.0" :exclusions [org.clojure/clojure]}
	net.cgrand/sjacket		{:mvn/version "0.1.1" :exclusions [org.clojure/clojure net.cgrand.parsley]}
	nrepl				{:mvn/version "0.6.0"}
	org.clojure/clojure		{:mvn/version "1.10.1"}
	org.clojure/data.codec		{:mvn/version "0.1.1"}
	org.clojure/data.json		{:mvn/version "2.3.1"}
	org.clojure/java.jdbc		{:mvn/version "0.7.9"}
	org.clojure/test.check		{:mvn/version "0.10.0-RC1"}
	org.clojure/tools.cli		{:mvn/version "0.4.2"}
	org.flatland/ordered		{:mvn/version "1.5.7"}
	org.xerial/sqlite-jdbc		{:mvn/version "3.36.0.3"}
	org.zeromq/jeromq		{:mvn/version "0.5.1"}
	pandect				{:mvn/version "0.6.1"}
	slingshot			{:mvn/version "0.12.2"}
	zprint				{:mvn/version "0.4.15"}
        org.clojure/core.async		{:mvn/version "1.3.618"}
        ,,
        com.fzakaria/slf4j-timbre	{:mvn/version "0.3.14"}
        org.slf4j/log4j-over-slf4j	{:mvn/version "1.7.14"}
        org.slf4j/jul-to-slf4j		{:mvn/version "1.7.14"}
        org.slf4j/jcl-over-slf4j	{:mvn/version "1.7.14"}
	}}
